$verdebandera: #039164;
$rojobandera: #CE1126;
$gris:  #333333;
$blanco:#ffff;
$negro:#111;
$otrogris:#4f4f4f;
$grismasclaro:#B5B5B5;
$grissuperclaro:#F5F5F5;
$azul: #0033A0;

@import "node_modules/bootstrap/scss/bootstrap.scss";

html {
    box-sizing: border-box;
    font-size: 62.5% // 1rem = 10 px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'Open Sans', sans-serif !important; 
    font-size: 1.6rem;
    line-height: 2;
}

/*Fuente y Tamaño H'S*/

h1,h2,h3,h4{font-family: 'PT Sans', sans-serif !important;}

h1{font-size: 4.8rem;}  h2{font-size: 4rem;} h3{font-size: 3.2rem;} h4{font-size: 2.8rem;}

a:hover{
    text-decoration: none;
}

/* Globales */ 
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.form-pequeño{
    max-width: 60rem;
    margin: 0 auto; 
}

img{
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Utilidades */
.centrar-texto{
    text-align: center;
}

.no-margin{
    margin: 0;
}

.fw-300{
    font-weight: 300;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.d-block {
    display: block!important;
}

.bg-red{
    background-color: $rojobandera;
    border-style: none;
}

.bg-none{
    background-color: transparent;
    border-style:none;
}


/** Botones **/
.boton {
    color:$blanco;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    flex: 0 0 100%;
}

.boton-verde {
    background-color: $verdebandera;
}

.boton-rojo {
    background-color: $rojobandera;
}

.boton-logout{
    color: $blanco;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.5rem;
    padding-left: 1.3rem;
    margin-top: 2.5rem;
    display:inline-block;
    text-align: center;
    background-color: transparent;
    border: none;
    
}

.boton:hover{
    cursor: pointer;
    color: $blanco !important;
    text-decoration: none;
}


/** Header **/
@media(min-width:360px){
    .site-header h1{
        font-size: 3.0rem;
    }
}

@media(min-width:769px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-color: $rojobandera;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio{
    background-image: url(../../public/img/Imagen-Portada.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a{
    color: $blanco;
}

.site-header h1{
    text-align: center;
    font-weight: 300;
}

.site-header span{
    font-weight: 700;
}

/** Navegacion **/

.navegacion a{
    color: $blanco !important;
    text-align: center;
    width: auto;
    display: block;
    font-size: 1.8rem;
    border-bottom: 0.2rem;
    border-bottom-style: solid;
    border-color: transparent;
}

.navegacion a:hover{
    transition: 200ms;
    transition-property: all;
    color: $verdebandera !important;
}

.dropdown-item:hover{
    background-color: transparent !important;
    border-style: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 576px){
    .contenedor-navegacion{
        display: flex;
        justify-content: center;
    }    
}




/** Header Texto **/
.texto-header {
    color: $blanco;
    text-align: center;
    margin-top: 5rem;
}

.texto-header p{
    font-size: 2rem;
}


@media (min-width: 1024px){
    .texto-header{
        margin-top: 35rem;
        text-align: left;
    }

    .texto-header p{
        margin-top: 0;
    }
}

/** Seccion Iconos **/
.icono h3{
    text-align: center;
    margin-top: 0;
}

@media (min-width: 768px) {
    .icono {
      flex-basis: calc(33.3% - 1rem);
    }
  }

.icono h3 {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

/** Anuncios **/
@media (min-width: 768px){
    .h4-main{
        text-align: center;
    }
    
}

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio {
    border: 1px solid $grismasclaro;
    background-color: $grissuperclaro;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.contenido-anuncio {
    padding: 2rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p  {
    margin: 0;
}
.precio {
    color: $verdebandera;
    font-weight: 700;
}

/** Contactanos **/
.imagen-contacto{
    background-image: url(../../public/img/Fondo-contacto.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    color: $blanco;
    flex: 0 0 95%;    
}

/* Apoyo */
@media(min-width:768px){
    .apoyo p{
        text-align: justify;
    }
}

/**Donaciones**/
.imagen-donativo{
    background-image: url(../../public/img/imagen-donativo.png);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-donaciones{
    color: $blanco;
    flex: 0 0 95%;    
}

/** Footer **/
.site-footer {
    background-color: $gris;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

.site-footer p{
    color: $blanco;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.copyright {
    margin: 0;
    color: $blanco;
}
/** Paginas Internas **/

/** Contacto **/
form p{
    font-size: 1.3rem;
    color: $otrogris;
    margin: 2rem 0 0 0;
}

legend{
    font-size: 2rem;
    font-weight: 300;
}

label {
    text-transform: capitalize;
    display: block;
}

input:not([type="submit"]),
textarea{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem; 
}

.mensaje{
    display: block;
    max-width: 100%;
}

@media (min-width: 768px){
    .mensajes{
        height: 20rem;
    }
    
}

.error{
    color:$rojobandera;
}

/* Pagina Inicio de Sesión */

.inicio-registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.inicio-registro a{
    color:$azul;
}

@media (min-width: 768px){
    .inicio-registro{
        
    }
        
}


/* Pagina Donaciones */

@media (min-width: 768px) {
    .contenido-donativo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }

    .contenido-donativo p{
        text-align: left;
    }
}



.texto-donativo blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

.p-donativo {
    text-align: center;
}

.p-donativo p{
    font-weight: 900;
    
}


/** Prueba Dropdown **/
